{% extends "base.html" %}
{% block content %}
        <h1 class="jumbotron-heading">Transactions</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{ error }}
            </div>
        {% endif %}
        <form action="/transaction" method="POST">
            <div class="form-group">
                <label for="property">Property</label>
                <input type="text" class="form-control" id="property" name="property"
                       placeholder="Enter property address">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount" placeholder="Enter amount" name="amount">
            </div>
            <button type="submit" class="btn btn-success">Add!</button>
        </form>
        <br />

        {% if transactions %}
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Property</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.id }}</th>
                        <td>{{ transaction.property }}</td>
                        <td>&euro; {{ transaction.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No transactions added yet!</p>
        {% endif %}

{% endblock %}
